In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from database import user_name, password, host, data_base

In [ ]:
# Create Engine and Pass in PostgreSQL Connection
engine = create_engine(f'postgresql://{user_name}:{password}@{host}/{data_base}')
connection = engine.connect()

In [ ]:
# Query Table Salary in the the Database
salaries = pd.read_sql("SELECT * FROM salaries", connection)
salaries.head()

In [ ]:
# Query Table Titles in the the Database
titles = pd.read_sql("SELECT * FROM titles", connection)
titles.head()

In [ ]:
# Query list employees' numbers and their corresponding titles and salaries in the the Database
employees_title_salary = pd.read_sql("SELECT e.emp_no, t.title, s.salary \
                         FROM employees e \
                         RIGHT JOIN titles t\
                         ON (e.emp_no = t.emp_no)\
                         RIGHT JOIN salaries s\
                         ON (t.emp_no = s.emp_no)", connection)
employees_title_salary.head()

In [ ]:
# Create a DataFrame with the average salary for each title. 
avg_salary_each_title = pd.DataFrame(employees_title_salary.groupby(["title"]).mean()["salary"]).reset_index()

In [ ]:
# Use Matplotlib to create a bar chart 
plt.bar(np.arange(len(avg_salary_each_title)), avg_salary_each_title.salary, align = "center")
plt.xticks([lable for lable in np.arange(len(avg_salary_each_title))], avg_salary_each_title["title"],
           rotation = 25)
plt.title("Average Salary for Each Title")
plt.xlabel("Titles")
plt.ylabel("Average salaries")

In [ ]:
# Get information of employee's title and his salary regarding his employee's number. 
employees_title_salary.loc[employees_title_salary["emp_no"] == 499942]